body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fafafa;
  color: #333;
}

button {
  background-color: #42b983;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: #36976c;
  }
}
